<div class="alert alert-danger" *ngIf="hasNotification$ | async" data-courses-api-error-notification>The API barfed. Sorry, plz try again. <button class="btn">retry</button></div>
<ul class="list-unstyled" *ngIf="courses$ | async as courses">
  <p class="alert alert-info" *ngIf="courses.length === 0 && (hasNotification$ | async) !== true" data-courses-empty-list-notification>Sorry, no upcoming courses found!</p>
  <li class="card" *ngFor="let course of courses; index as idx" [attr.data-courses-list-item]="idx">
    <div class="card-header">
      <span [attr.data-courses-list-item-header]="idx">{{ course.title }}</span>
    </div>
    <div class="card-body">
      <div class="course-overview">
        <span [attr.data-courses-list-item-overview]="idx">
          {{ course.title }} is training for {{ course.category | titlecase }}
        </span>
      </div>
      <p>
        {{ course.blurb }}
      </p>
    </div>
    <div class="card-footer" *ngrxLet="loggedIn$ as loggedIn">
      <a
      [attr.data-courses-list-item-enroll-btn]="idx"
        *ngIf="loggedIn"
        class="btn btn-primary"
        [routerLink]="['../enroll', course.id]"
        >Enroll in {{ course.title }}</a
      >
      <a
      [attr.data-courses-list-item-login-btn]="idx"
        *ngIf="!loggedIn"
        class="btn btn-success"
        (click)="login(course.id)"
        [routerLink]="['../enroll', course.id]"
        >Sign In to Enroll Now!</a
      >
    </div>
  </li>
</ul>
